.game-board {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; 
}
.card-list-item {
 list-style-type: none;
 cursor: pointer;
}
.card {
  width: 7rem;
  height: 10rem;
  text-align: center;
}
.card-outer {
  height:100%;
  width:100%;
  background: rgb(128,128,128);
  transition: background 0.3s;
  &:hover {
    background: rgb(94, 94, 94);
  }
}
.card-inner {
  height:100%;
  width:100%;
}
